@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* font-family: 'Ubuntu', sans-serif; -- logo(400,500,700) */
/* font-family: 'Open Sans', sans-serif; -- text(400,500,600) */
/* font-family: 'Dancing Script', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg__primary: #fbfbfb;
  --text: #1b2430;
  --text__hover: #413f42;
  --placeholder: #80868b;
  --text__blue: #1a73e8;
  --edit__icon: #446a46;
  --trash__icon: #f47c7c;
}
body {
  background: var(--bg__primary);
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}
.link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
