.write__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

/* Write input */
.write__wrapper img {
  height: 50vh;
  border-radius: 1rem;
  object-fit: cover;
}
.write__form {
  margin-top: 2rem;
  width: 100%;
  padding: 0 5rem;
}
.write__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.file__input--wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title__input {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  height: 2rem;
  width: 100%;
  margin-left: 1rem;
  border: none;
  outline: none;
  background: transparent;
}
.title__input::placeholder,
.write__story textarea::placeholder {
  color: var(--placeholder);
  padding-left: 0.2rem;
  opacity: 0.8;
}
.write__input button {
  height: 2rem;
  width: 4rem;
  font-size: 0.9rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--text__blue);
  color: var(--bg__primary);
  transition: all 0.3s ease-in-out;
}
.write__input button:active {
  transform: scale(0.97);
}

/* Text area */
.write__story {
  margin-top: 1rem;
}
.write__story textarea {
  font-size: 1.2rem;
  width: 100%;
  height: 20rem;
  resize: none;
  outline: none;
  border: none;
  background: transparent;
}
.write__story textarea::placeholder {
  font-size: 1rem;
}

/* Media Queries */
@media screen and (min-width: 280px) and (max-width: 767px) {
  .write__wrapper {
    padding: 1rem;
  }
  .write__form {
    padding: 0;
  }
  .write__wrapper img {
    height: 30vh;
    width: 80vw;
  }
}
@media screen and (min-width: 768px) {
  .write__wrapper {
    padding: 1rem;
  }
  .write__form {
    padding: 1rem;
  }
  .write__wrapper img {
    height: 30vh;
    width: 80vw;
  }
}
